<% tweets.each do |tweet| %>
  <li class="list-group-item">
    <div class="card-body">
      <a href="/user/<%= tweet.user_id %>"><h5 class="card-title"><%= tweet.name %></h5></a>

      <h6 class="card-subtitle mb-2 text-muted">
        <% if !tweet.retweet_id.nil? %>
          RT
        <% end%>
        <%= tweet.tweet %>
      </h6>
      <small class="card-text"><%= tweet.created_at.strftime("%I:%M%p - %m %b %Y") %></small>
      <br>
      <p class="card-text"><%= retweets_hash[tweet.id] %> retweets <%= likes_hash[tweet.id] %> likes</p>

      <% if logged_in? %>
        <div class="row">
          <div class="col-0">
            <% if is_liking?(tweet.id) %>
              <form action="/tweets/<%= tweet.id %>/unlike" method='POST'>
                <button type="submit" class="btn-sm btn-danger">Unlike</button>
              </form>
            <% else %>
              <form action="/tweets/<%= tweet.id %>/like" method='POST'>
                <button type="submit" class="btn-sm btn-primary">Like</button>
              </form>
            <% end %>
          </div>
          <div class="col-2">
            <form action='/tweets/<%= tweet.id %>/retweet' method='POST'>
              <button type="submit" class="btn-sm btn-primary">Retweet</button>
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </li>
<% end %>
