<div class="card-body">
  <% tweets.each do |tweet| %>
    <h5 class="card-title"><a href="/tweet/<%= tweet.user_id %>"><%= tweet.user_id %></a></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= tweet.user.name %></h6>
    <p class="card-text"><%= tweet.tweet %></p>
    <form action='tweets/<%= tweet.user_id %>/like' method='POST'>
      <a href="/" class="btn btn-primary">Like</a>
    </form>
    <form action='/tweets/retweet' method='POST'>
      <a href="/" class="btn btn-primary">Retweet</a>
    </form>
  <% end %>
</div>