<div class="row">
  <div class="col-4">
    <div class="card">
      <%= erb :'user_pages/profile', :layout => false, :locals => { :user => @user } %>
    </div>
  </div>

  <div class="col-8">
    <% @followers.each do |follower| %>
      <div class="card">
        <div class="card-body">
          <a href="/users/<%= follower.id %>"><h5 class="card-title"><%= follower.name %></h5></a>
        </div>
        <form action="/user/<%= @user %>/follow" method='POST'>
          TODO: Add if following then unfollow if unfollow then follow
          <a href="/user/<%= @user %>/followers" class="btn btn-primary"></a>
        </form>
      </div>
    <% end %>
  </div>
</div>